# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.env.*

# Logs and runtime
organizer.log
*.log

# Build / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.swp
