# -------------------------
# Python cache & artifacts
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
.env
.env.*

# -------------------------
# Logs
# -------------------------
#*.log

# -------------------------
# PyInstaller build output
# -------------------------
#build/
#dist/
optionally/
output/*

# -------------------------
# IDE files
# -------------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# -------------------------
# OS junk
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.swp

# Игнорируем всё остальное в output, кроме exe
#output/*
#!output/*.exe
