# -------------------------
# Python cache & artifacts
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
.env
.env.*

# -------------------------
# Logs
# -------------------------
*.log
organizer.log

# -------------------------
# PyInstaller build output
# -------------------------
#build/
#dist/
optionally/

# -------------------------
# IDE files
# -------------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# -------------------------
# OS junk
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.swp

# -------------------------
# Project-specific rules
# -------------------------

# Разрешаем EXE в output/
# (output НЕ игнорируем!)
#!output/
#!output/*.exe

# Игнорируем всё остальное в output, кроме exe
#output/*
#!output/*.exe
